body {background-image: 
background-color: #ffffcc;
font-color: #ffffff;
font-family: Verdana, Arial, sans-serif;
text-align:center;
width: 80%;}

table{border: 12px dashed; 
    margin: auto;
    border-spacing: 0;
	}
	label	{float: left;
		display: block;
		text-align: right;
		width: 8em;
		padding-right: 10px;
		}
		
input, textarea	{display: block;
				margin-bottom: 1em;
				}
				
#mySubmit	{margin-left: 12em;
}




